@model TrashCollector.Models.Customer

@{
    ViewData["Title"] = "ConfirmPickUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Confirm Pick Up For Customer</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ConfirmPickUp">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="FirstName" />
            <input type="hidden" asp-for="LastName" />
            <input type="hidden" asp-for="StreetAddress" />
            <input type="hidden" asp-for="City" />
            <input type="hidden" asp-for="State" />
            <input type="hidden" asp-for="ZipCode" />
            <input type="hidden" asp-for="PickUpDay" />
            <input type="hidden" asp-for="BalanceDue" />
            <input type="hidden" asp-for="OneTimePickUp" />
            <input type="hidden" asp-for="SuspensionStartDate" />
            <input type="hidden" asp-for="SuspensionEndDate" />
            <input type="hidden" asp-for="IdentityUser" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isPickedUp" /> @Html.DisplayNameFor(model => model.isPickedUp)
                </label>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
